# Ignore virtual environments
venv_env/
venv2_env/
venv3_env/

# Ignore compiled Python files
*.pyc

# Ignore Python bytecode files
__pycache__/
*.py[cod]

.DS_Store

# Ignore PEM files
*.pem

.env

# Ignore Model files
# model.pt
# tokenizer.pt

.requirements-new-3_7.txt

# Ignore aws
aws/
.aws/